$tag-border: 1px solid #ccc;
.tag-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .tag-filter-container {
    flex: 1;
    border-bottom: $tag-border;
    padding: 2px 5px;
  }
}