.projection-view {
  position: relative;
  width: 100%;
  height: 100%;
  .topics-number-input {
    position: absolute;
    right: 10px;
    top: 5px;
    display: flex;
    align-items: center;
    .ant-input-number {
      width: 55px;
    }
    .topics-number-input-text {
      font-weight: 600;
      font-size: 14px;
      color: #333;
      margin-right: 10px;
    }
  }
}