.highlight-list-view {
  position: relative;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  padding: 0px 5px;
  .highlight-list-header {
    // font-size: 14px;
    // font-weight: 600;
    // float: right;
    // color: #333;
    // text-align: right;

    font-size: 16px;
    color: #333;
    font-weight: 600;
    // padding: 3px 0;
    height: 12%;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    // padding: 3px 0;
    height: 12%;
  }
  .highlight-list-content {
    padding: 5px 2px;
    height: 86%;
    overflow-y: auto;
    overflow-x: hidden;
    .paper-item:hover {
      box-shadow: 0 0 8px #666;
      // border: 1px solid #333;
    }
    .paper-item-selected {
      border: 3px solid rgb(209, 65, 65) !important;
    }
    .paper-item {
      position: relative;
      // width: 100%;
      color: #888;
      background: rgb(245, 245, 245);
      // width: 100%;
      font-size: 12px;
      display: flex;
      padding: 1px 3px;
      margin: 8px 0px;
      // border: 1px solid #ddd;
      box-shadow: 0 0 5px #ccc;
      border-radius: 5px;
      border: 3px solid transparent;
      cursor: pointer;
      .paper-index {
        // float: left;
      }
      .paper-content {
        margin-left: 4px;
        margin-right: 10px;
        position: relative;
        width: 98%;
        .paper-header {
          // display: flex;
          .paper-header-conferenceName {
            color: #333;
            font-weight: 600;
            padding-right: 5px;
            float: left;
          }
          .paper-header-title {
            white-space: nowrap;
            padding-right: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .paper-details {
          font-size: 10px;
        }
      }
    }
  }
}
