.ana-network-view {
  position: relative;
  width: 100%;
  height: 100%;
  .topics-uniform-select {
    position: absolute;
    right: 30px;
    bottom: 20px;
    display: flex;
    align-items: center;
    .select-label {
      margin-right: 10px;
    }
  }
}