.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(51, 51, 51);
  color: #fcf1f1;
  font-size: 14px;
  .title {
    padding: 0 10px;
  }
  .switch-button {
    margin-left: 15px;
    background: #fff;
    border-radius: 3px;
    padding: 0 5px;
    color: #666;
    :hover {
      color: rgb(88, 173, 230);
      font-weight: 800;
    }
  }
}