$left-container-width: 24%;
$middle-container-width: 45%;
$container-border: 2px solid #ccc;
.analysis-container {
  display: flex;
  .left-container {
    height: 100%;
    width: $left-container-width;
    border-right: $container-border;
  }
  .middle-container {
    height: 100%;
    width: $middle-container-width;
    border-right: $container-border;
  }
  .right-container {
    flex: 1;
    height: 100%;
  }
}
